$primarycolor: #1a4a8a;
$blackcolor: #1b1c1e;

.email-background {
    background-color: #0e0e0e;
    margin: 0 auto;
}

.email-container {
    max-width: 900px;
    color: $blackcolor;
    background-color: #fff;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

.header {
    background-color: #fff;
    width: 100%;
}

.logo {
    text-align: left;
    padding: 20px 0px 0px 30px;
}

.logo2 {
    text-align: left;
    padding: 0px 0px 30px 30px;
}

.location {
    text-align: right;
    padding-right: 33px;
    font-weight: 700;
}

.ford {
    max-width: 100%;
    position: relative;
    top: 40px;

    img {
        vertical-align: bottom;
    }
}

.ford2 {
    max-width: 100%;
    position: relative;
    bottom: 40px;

    img {
        vertical-align: top;
    }
}


table {
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    table-layout: fixed;
}

.banner {
    background-image: url("https://i.imgur.com/8vAYc1z.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primarycolor;
    height: 356px;
    color: #fff;

    h1 {
        font-weight: 700;
    }
}


.divide {
    background-color: $primarycolor;
}

.main {
    text-align: left;
}


.ford-car {
    background-image: url("https://i.imgur.com/Jt1Q3DW.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative;
}


.delivery, .exchange, .finance {
    background-color: $blackcolor;
    color: #fff;
    text-align: left;
    vertical-align: top;
    width: 50%;
    position: relative;
    height: 500px;
}

.payment, .personalised {
    background-color: $primarycolor;
    color: #fff;
    text-align: left;
    vertical-align: top;
}

.payment img {
        width: 100%;
    }

    td {
        padding-bottom: 10px;
    }

    p, li {
        padding: 10px 30px 0px 30px;
    }

    h2 {
        padding-left: 30px;
    }

.showroom {
    background-image: url("https://i.imgur.com/K4JwMPj.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 270px;
    max-width: 900px;
    color: #fff;
}


.footer {
    font-size: 14px;
    background-color: $blackcolor;
    color: #fff;
    padding: 20px;
}

.social-icons {
    padding: 0;
}

ul.social-icons li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

.mobile-header {
    display: none;

}

@media only screen and (min-width: 601px) {

    .mobile-main {
        display: none;
    }

}
/*
@media only screen and (max-width: 600px) {

    .email-container {
        max-width: 600px;
    }

    .main {
        display: none;
    }
 
    h1 {
        font-size: 25px;
    }


    h2 {
        font-size: 22px;
    }

    .showroom {
        background-image: url("https://i.imgur.com/idP3fCG.png");
        height: 359px;
        color: #fff;
    }

    .ford-car {
        background-image: url("https://i.imgur.com/tUMQhQS.png");
        height: 255px;
        background-color: $primarycolor;
    }

    .header {
        display: none;
    }

    .mobile-header {
        display: block;
        max-width: 600px;
    }

    .logo, .ford {
        display: none;
    }

    .mobile-ford {
        position: relative;
        top: 40px;
    
        img {
            vertical-align: bottom;
        }
    }

    .mobile-ford2 {
        max-width: 100%;
        position: relative;
        bottom: 40px;
    
        img {
            vertical-align: top;
        }
    }
    
    .mobile-location {
        text-align: right;
        padding-right: 33px;
        font-weight: 700;
        font-size: 16px;
    }

    .mobile-logo {
        text-align: left;
        padding: 10px 60px 0px 10px;
    }
}
   */
    @media screen and (max-width: 600px) {
 
    .email-container {
        max-width: 600px;
    }

    .main {
        display: none;
    }
    
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 22px;
    }

    .showroom {
        background-image: url("https://i.imgur.com/idP3fCG.png");
        height: 250px;
    }

    .ford-car {
        background-image: url("https://i.imgur.com/tUMQhQS.png");
        height: 160px;
        background-size: 100%;
        background-color: $primarycolor;
    }

    .finance, .delivery, .payment, .exchange {
        height: auto;
    }

    .header {
        display: none;
    }

    .mobile-header {
        display: block;
        max-width: 600px;
        height: 100px;

        img {
            position: relative;
            top: 15px;
            width: 100%;
            min-width: 50%;
        }
    }

    .logo, .ford {
        display: none;
    }

    .mobile-location {
        font-size: 16px;
        text-align: right;
        font-weight: 700;
    }

    .mobile-logo {
        text-align: left;
        padding: 10px 20px;
       
    }
}
