$primarycolor: #1a4a8a;
$blackcolor: #1b1c1e;

.email-background {
    background-color: #0e0e0e;
    margin: 0 auto;
}

.email-container {
    max-width: 900px;
    color: $blackcolor;
    background-color: #fff;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-align: center;
}

.header {
    background-color: #fff;
}

.logo {
    text-align: left;
    padding: 20px 0px 0px 30px;
}

.logo2 {
    text-align: left;
    padding: 0px 0px 30px 30px;
}

.location {
    text-align: right;
    padding-right: 33px;
    font-weight: 700;

}

.ford {
    max-width: 100%;
    position: relative;
    top: 40px;

    img {
        vertical-align: bottom;
    }
}

.ford2 {
    max-width: 100%;
    position: relative;
    bottom: 40px;

    img {
        vertical-align: top;
    }
}


table {
    width: 100%;
    text-align: center;
    border-spacing: 0px;
    table-layout: fixed;
}

.banner {
    background-image: url("https://i.imgur.com/8vAYc1z.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primarycolor;
    height: 356px;
    color: #fff;

    h1 {
        font-weight: 700;
    }
}


.divide {
    background-color: $primarycolor;
}

.main {
    text-align: left;
p, h2 {
    padding: 0px 40px;
}
}

.main li {
    padding: 0px 40px 10px 0px;
}

.ford-car {
    background-image: url("https://i.imgur.com/Jt1Q3DW.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative;
}


.delivery, .exchange, .finance {
    background-color: $blackcolor;
    color: #fff;
    text-align: left;
    vertical-align: top;
    width: 50%;
    position: relative;
    height: 500px;
}

.payment, .personalised {
    background-color: $primarycolor;
    color: #fff;
    text-align: left;
    vertical-align: top;
    position: relative;
    width: 50%;
}

.payment img {
    width: 100%;
}

.showroom {
    background-image: url("https://i.imgur.com/K4JwMPj.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 359px;
    color: #fff;
}


.footer {
    font-size: 14px;
    background-color: $blackcolor;
    color: #fff;
    padding: 20px;
}

.social-icons {
    padding: 0;
}

ul.social-icons li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .main p, li {
        font-size: 16px;
        padding: 10px;
        line-height: 1.1;
    }

    h1 {
        font-size: 30px;
        padding: 0;
    }


    h2 {
        font-size: 20px;
    }

    

}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    
    .main p, li {
        font-size: 14px;
        padding: 10px;
    }

    h1 {
        font-size: 25px;
        padding: 10px;
    }


    h2 {
        font-size: 16px;
    }


    .location {
        text-align: center;
    }
}