.email-background {
  background-color: #0e0e0e;
  margin: 0 auto; }

.email-container {
  max-width: 900px;
  color: #1b1c1e;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  text-align: center; }

.header {
  background-color: #fff;
  width: 100%; }

.logo {
  text-align: left;
  padding: 20px 0px 0px 30px; }

.logo2 {
  text-align: left;
  padding: 0px 0px 30px 30px; }

.location {
  text-align: right;
  padding-right: 33px;
  font-weight: 700; }

.ford {
  max-width: 100%;
  position: relative;
  top: 40px; }
  .ford img {
    vertical-align: bottom; }

.ford2 {
  max-width: 100%;
  position: relative;
  bottom: 40px; }
  .ford2 img {
    vertical-align: top; }

table {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
  table-layout: fixed; }

.banner {
  background-image: url("https://i.imgur.com/8vAYc1z.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1a4a8a;
  height: 356px;
  color: #fff; }
  .banner h1 {
    font-weight: 700; }

.divide {
  background-color: #1a4a8a; }

.main {
  text-align: left; }
  .main p, .main h2 {
    padding: 0px 40px; }

.main li {
  padding: 0px 40px 10px 0px; }

.ford-car {
  background-image: url("https://i.imgur.com/Jt1Q3DW.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  position: relative; }

.delivery, .exchange, .finance {
  background-color: #1b1c1e;
  color: #fff;
  text-align: left;
  vertical-align: top;
  width: 50%;
  position: relative;
  height: 500px; }

.payment, .personalised {
  background-color: #1a4a8a;
  color: #fff;
  text-align: left;
  vertical-align: top;
  position: relative;
  width: 50%; }

.payment img {
  width: 100%; }

.showroom {
  background-image: url("https://i.imgur.com/K4JwMPj.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 359px;
  max-width: 900px;
  color: #fff; }

.footer {
  font-size: 14px;
  background-color: #1b1c1e;
  color: #fff;
  padding: 20px; }

.social-icons {
  padding: 0; }

ul.social-icons li {
  list-style-type: none;
  display: inline-block;
  padding: 20px; }

.mobile-header {
  display: none; }

@media only screen and (min-width: 601px) {
  .mobile-main {
    display: none; } }

@media only screen and (max-width: 600px) {
  .email-container {
    max-width: 600px; }
  .main {
    display: none; }
  .mobile-main {
    max-width: 100%; }
    .mobile-main p, .mobile-main li {
      font-size: 16px;
      padding: 15px 39px 0px 36px; }
  .delivery {
    height: 439px; }
  .exchange {
    height: 523px; }
  .personalised {
    height: 200px; }
  .finance {
    height: 433px; }
  h1 {
    font-size: 25px;
    padding: 0px; }
  h2 {
    font-size: 22px;
    padding: 20px 0px 0px 36px; }
  .showroom {
    background-image: url("https://i.imgur.com/idP3fCG.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 359px;
    max-width: 600px;
    color: #fff; }
  .ford-car {
    background-image: url("https://i.imgur.com/tUMQhQS.png");
    background-size: 100%;
    max-width: 600px;
    background-repeat: no-repeat;
    height: 264px;
    background-color: #1a4a8a; }
  .header {
    display: none; }
  .mobile-header {
    display: block; }
  .logo, .ford {
    display: none; }
  .mobile-ford {
    max-width: 100%;
    position: relative;
    top: 40px; }
    .mobile-ford img {
      vertical-align: bottom; }
  .mobile-location {
    text-align: right;
    padding-right: 33px;
    font-weight: 700; }
  .mobile-logo {
    text-align: left;
    padding: 20px 50px 0px 30px; } }
