body {
  margin: 0; }

.email-background {
  background-color: #0e0e0e;
  margin: 0 auto; }

.email-container {
  max-width: 600px;
  color: #1b1c1e;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  font-family: helvetica;
  font-size: 14px;
  line-height: 1.5; }

.header {
  background-color: #fff;
  padding: 10px 20px; }

.logo {
  text-align: left; }

.location {
  text-align: right; }

table {
  width: 100%;
  text-align: center;
  border-spacing: 0px; }

td {
  padding: 20px; }

.banner {
  background-color: #1a4a8a;
  height: 200px;
  color: #fff; }

.banner h1 {
  padding: 0px 100px; }

.delivery, .exchange, .finance {
  background-color: #1b1c1e;
  color: #fff; }

.payment, .personalised {
  background-color: #1a4a8a;
  color: #fff; }

.footer {
  background-color: #1b1c1e;
  color: #fff; }
